<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>About us | EventAngels</title>
<!-- <link rel="stylesheet" type="text/css" href="static/css/header.css"/>-->
<link rel="stylesheet" type="text/css" href="static/css/footer.css"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
<style>

.navbar{
margin-bottom: 0px;
}

body{

background-image: url("img/calmsea.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}

#page {
	margin: auto;
	margin-top:2%;
}

.main {
	margin: auto;
	height: auto;
}

.main .mainContainer {
	text-align: center;
	/*background-color: rgba(0, 0, 0, 0.6);*/
	float: left;
	padding: 2% 5% 2% 5%;
	color: white;
	margin-bottom: 2%;
}

.main .mainContainer .label1 {
	text-align: center;
	margin: 2%;
	padding: 5% 1% 5% 1%;
	color: white;
	font-size: 2em;
}

.main .mainContainer .text {
	font-style: italic;
	text-align: center;
	padding: 10% 1% 5% 1%;
}

.row .eventThumbnail {
	background-color: rgba(20, 20, 20, 0.8);
	margin: 2%;
	text-align: center;
	color: white;
}

#labelStatementLive{
background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding:1%;
	margin:2%;
	text-align: center;
}



@media(){
}


#ourteam{
text-align:center;
text-decoration: underline;
color: maroon;
font-size: 3em;
font-weight: bold;
color:maroon;
}

.ourImages{
width:100%;
list-style:none;
display:inline-block;

}

.listItem{
width: 20%;
height: 20%;
float: left;
padding:5px;
}

.listItem img{
width: 100%;
height: 100%;

}




</style>
</head>
<body>

	


	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/indexPage"> <img alt="Brand"
					style="height: 100%; width: auto;" class="img-responsive"
					src="img\eventangels.png" />
				</a>
			</div>
			<!--https://getbootstrap.com/components/#navbar-->
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/indexPage">Event Angels: Your next sponsor</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">About Us</a></li>
					<li><a href="#">How it works</a></li>
					<li><a href="/loginPage">Sign-in/Register</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="page" class="container">
		<div id="main" class="row main">
			<div id="organizer" class="mainContainer col-md-3">
				
				<div class="text">
					 <img alt="Brand"
					style="height: 800%; width: 800%;" class="img-responsive"
					src="img\mascot.png" />
			
				</div>
			</div>
			
			<div class="col-md-1"></div>
			<div id="sponsor" class="mainContainer col-md-8">
				<div class="label1" style="padding: 0%;color: maroon;">We are EventAngels</div>
				<div class="text" style="padding: 0%;color: black;">
					<b>About 1.8 million meetings and event occur in the US every year. While large events like Super bowl,

football games, and TEDx meets attract huge sponsors, there are many which go unnoticed. On the

other side, $22 billion are spent on sponsoring events across North America of which $15 billion is

spent in the US. However, a huge percentage of this sum is contributed by heavy-weight companies and

firms with deep pockets. <br/><br/>

EventAngels is a platform which brings small event organizers and midsize or small-size sponsors

together to create an ideal interaction ground for mutual benefit. The event host can invite sponsors for

a nominal charge and acquire funds from interested parties without going through the hassle of pitching

the events to businesses. The local businesses, on the other hand, could get a chance to advertise

themselves better and cheaper.</b>
				</div>
			</div>
		</div>
		<!-- <div class="row" id="labelStatementLive">
			<div>
				<label>We made sponsorship possible at:</label>
			</div>
		</div>-->
		<div class="row" id="displayEventsOnLanding">
		</div>
		<div >
			<p id="ourteam">Humans behind EventAngels</p>
			    <ul class="ourImages" style="display: inline-block; float:left;">
				 <li class="listItem"><a href="#"><img alt="aman" src="img/aman.jpg"/></a></li>
			     <li class="listItem"><a href="#"><img alt="stutee" src="img/stutee.jpg"/></a></li>
				 <li class="listItem"><a href="#"><img alt="mayukh" src="img/mayukh.jpg"/></a></li>
			     <li class="listItem"><a href="#"><img alt="sneha" src="img/sneha.jpg"/></a></li>
			     <li class="listItem"><a href="#"><img alt="hrishi" src="img/hrishi.jpg"/></a></li>
		       </ul>
		</div>
	</div>


	<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3> About EventAngels </h3>
                    <ul>
                        <li> <a href="#"> Blog </a> </li>
                        <li> <a href="#"> News </a> </li>
                        <li> <a href="#"> Contact Us </a> </li>
                        <li> <a href="#"> Offices </a> </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3> Careers </h3>
                    <ul>
                        <li> <a href="#"> Recruiting </a> </li>
                        <li> <a href="#"> Apply now </a> </li>
                        <li> <a href="#"> Benefits </a> </li>
                    </ul>
                </div>
                
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pull-right">
                    <h3> Follow us  </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email "/>
                                <button class="btn  bg-gray" type="button"> Subscribe Us! <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © EventAngels 2017. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
</body>
</html>