<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Dashboard | EventAngels</title>
<!--<link rel="stylesheet" type="text/css" href="css/style.css"/>-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="static/css/footer.css"/>

<style>
.main #section .section-div {
	padding: 5%;
	background-color: rgba(0, 0, 0, 0.6)
}

#page{
margin-bottom:5%;
}

.main #section .section-div .menu-item {
	margin-top: 10%;
	margin-bottom: 10%;
	background-color: limegreen;
	padding: 5%;
}

.main #section .section-div a {
	text-decoration: none;
	color: white;
}

.thumbnail .caption {
	padding: 2px 9px;
}

.thumbnail .caption h3 {
	margin-top: 5px;
}


.truncate {
	font-size:1.3em;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 321px) and (max-device-width : 580px) {
#dashboard-menu{
	display:none;
}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
#dashboard-menu{
	display:none;
}
}



</style>
</head>
<body>

	<script type="text/javascript">
	  $(document).ready(function(){
        $.ajax({
    		type : "GET",
    		contentType : "application/json",
    		url : "/displayEventsForOrganizer",
    		timeout : 100000,
    		success : function(data) {
    			if(data!=null){
    			$.each(data,function(i,doc){
    				
    				 $('#org-events').append(
        				'<div class="col-sm-6 col-md-4"><div class="thumbnail"><img src="img/event-thumbnail.jpg" alt="..."/><div class="caption" style="text-align:center;">'
    					 +'<div class="truncate"><b>'+doc.title + '</b></div>'+'<div><button class="btn btn-primary" onclick="viewEvent('+doc.id+')">View</button></div>'+
        				'</div></div></div>');
    			});
    					$('#org-events').append(
        				'<div class="col-sm-6 col-md-4"><div class="thumbnail"><a href="/createEvent"><img src="img/text-plus-icon.png" style="height:50%; width:50%; margin:25%" alt="..."/></a>'
    					 +'</div></div>');
    		   }
    			else{
    				$('#org-events').append(
            				'<div class="col-sm-6 col-md-4"><div class="thumbnail"><a href="/createEvent"><img src="img/text-plus-icon.png" style="height:50%; width:50%; margin:25%" alt="..."/></a>'
        					 +'</div></div>');
    			}
    		},
    		error : function(e) {
    			console.log("ERROR: ", e);
    			//display(e);
    		},
    		done : function(e) {
    			console.log("DONE");
    		}
    	});
});

	  
function viewEvent(eventId){
	
	window.location.href = '/displayEvent?eventId='+eventId;
	/* $.ajax({
		type : "GET",
		contentType : "application/json",
		url : "/organizerViewEvent?eventId="+eventId,
		timeout : 100000,
		success : function(data) {
			if(data!=null){
				console.log(data);
				alert(data.id);
				window.location.href = '/displayEvent?eventId='+eventId;
		   }
			else{
			}
		},
		error : function(e) {
			console.log("ERROR: ", e);
			//display(e);
		},
		done : function(e) {
			console.log("DONE");
		}
	}); */
}
	  
	  
</script>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/indexPage"> <img alt="Brand"
					style="height: 100%; width: auto;" class="img-responsive"
					src="img\eventangels.png" />
				</a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/">Event Angels: Your next sponsor</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/backToDashHome"><span
							class="glyphicon glyphicon-blackboard"></span> Home</a></li>
					
					<li><a href="/aboutUsInside"><span
							class="glyphicon glyphicon-blackboard"></span> About Us</a></li>
					<li><a href="#"><span
							class="glyphicon glyphicon-question-sign"></span> How It Works</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
							User</a>
						<ul class="dropdown-menu">
							<li><a href="/organizerProfile">Profile</a></li>
							<li><a href="#">Account Settings</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/logout">Logout</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div id="page" class="container">
		<div id="main" class="row main">
			<div class="col-md-4" id="section">
				<div class="section-div" id="dashboard-menu">
					<a href="#"><div class="menu-item" id="menu1">
							<span class="glyphicon glyphicon-dashboard"></span> Dashboard
						</div></a> <a href="/createEvent"><div class="menu-item" id="menu2">
							<span class="glyphicon glyphicon-plus-sign"></span> Create New
							Event
						</div></a> <a href="#"><div class="menu-item" id="menu3">
							<span class="glyphicon glyphicon-envelope"></span> Notifications
						</div></a>
				</div>
			</div>
			<div class="col-md-8" id="box">
				<div id="wecome-message" class="row message">
					<div class="col-md-12">
						<h1>
							Welcome. <small>Here are your events</small>
						</h1>
					</div>
				</div>
				<div id="org-events" class="row org-events"></div>
			</div>
		</div>
	</div>
	
	
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3> About EventAngels </h3>
                    <ul>
                        <li> <a href="#"> Blog </a> </li>
                        <li> <a href="#"> News </a> </li>
                        <li> <a href="#"> Contact Us </a> </li>
                        <li> <a href="#"> Offices </a> </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3> Careers </h3>
                    <ul>
                        <li> <a href="#"> Recruiting </a> </li>
                        <li> <a href="#"> Apply now </a> </li>
                        <li> <a href="#"> Benefits </a> </li>
                    </ul>
                </div>
                
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pull-right">
                    <h3> Follow us  </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email "/>
                                <button class="btn  bg-gray" type="button"> Subscribe Us! <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © EventAngels 2017. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
</body>
</html>