<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Login or Register | EventAngels</title>
<!--<link rel="stylesheet" type="text/css" href="css/style.css"/>-->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>

<link rel="stylesheet" type="text/css" href="static/css/footer.css"/>

<style>

#page {
	height: auto;
	margin: auto;
	margin-bottom:5%;
	position: relative;
}

#page_internal {
	height: auto; /*full height */
	margin: auto;
}

.data-headers{
	background-color: #f1f1f1;
	padding: .1% .1% .1% 0.1%;
	font-size: 1.2em;
	border-radius: 5px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
	margin-bottom:1%;
}
.sponsor-tier-title{
	font-size: 1.2em;
}
.sponsor-tier-title{
	border: 0; 
  	background-image: -webkit-linear-gradient(left, #f0f0f0, #bababa, #f0f0f0);
  	margin: 1%;
  	margin-left:0%;
}

</style>
</head>
<body>
<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/indexPage"> <img alt="Brand"
					style="height: 100%; width: auto;" class="img-responsive"
					src="img\eventangels.png" />
				</a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/">Event Angels: Your next sponsor</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/aboutUs"><span
							class="glyphicon glyphicon-blackboard"></span> About Us</a></li>
					<li><a href="#"><span
							class="glyphicon glyphicon-question-sign"></span> How It Works</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
							User</a>
						<ul class="dropdown-menu">
							<li><a href="dashboard">Dashboard</a></li>
							<li><a href="#">Profile</a></li>
							<li><a href="#">Account Settings</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/logout">Logout</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="page" class="container">
		<div class="page-header">
    		<h1>Create Event</h1>      
  		</div>
        <form action= "/submitEvent" method="post">
        	<div class="row data-headers"><div class="col-md-12 col-sm-12">Basic Details</div></div>
			<div class="row">
				<div id="left-side-form" class="col-md-6 col-sm-12">
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="title">Title</label>
						</div>
						<div class="controls col-md-8 col-sm-12">
  							<p class="form-control-static">Lorem Ipsum and then some</p>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="date">Event Date</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="date" class="form-control" name="date" id="date"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="time">Event time</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="time" class="form-control" name="time" id="time"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="address_line_1">Venue Address Line 1</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="address_line_1" id="address_line_1"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="address_line_2">Address Line 2</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="address_line_2" id="address_line_2"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="city">City</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="city" id="city"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="state">State</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="state" id="state"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="zip">Zip</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="zip" id="zip"/>
						</div>
					</div>
				</div><!--id=left-side-form-->

				<div id="right-side-form" class="col-md-6 col-sm-12">
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="num_attendees">Expected Attendees</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="range" min="0" max="500" value="250" class="form-control" name="num_attendees" id="num_attendees"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="category">Category</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="category" id="category"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="image">Event Image</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="file" class="form-control" name="image" id="image"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="thumbnail">Event Thumbnail</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="file" class="form-control" name="thumbnail" id="thumbnail"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="fb_link">Facebook Link</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="fb_link" id="fb_link"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="eventbrite_link">Eventbrite Link</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="eventbrite_link" id="eventbrite_link"/>
						</div>
					</div>
				</div><!--id=right-side-form-->
			</div><!--class="row"-->
			
			<div class="row data-headers"><div class="col-md-12 col-sm-12">Sponsorship Details</div></div>
			<div class="row sponsor-tier-title"><div class="col-md-12 col-sm-12">Sponsorship Tier 1</div></div>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="sponsorship_type1">Sponsorship Type</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="sponsorship_type1" id="sponsorship_type1"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="sponsorship_amt1">Sponsorship Amount</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" placeholder="0.00" name="sponsorship_amt1" id="sponsorship_amt1"/>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="is_partial_allowed1">Is Partial Sponsorship Allowed? (Y/N)</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="is_partial_allowed1" id="is_partial_allowed1"/>
						</div>
					</div>
				</div>
			
			</div>

			<div class="row sponsor-tier-title"><div class="col-md-12 col-sm-12">Sponsorship Tier 2</div></div>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="sponsorship_type2">Sponsorship Type</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="sponsorship_type2" id="sponsorship_type2"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="sponsorship_amt2">Sponsorship Amount</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" placeholder="0.00" name="sponsorship_amt2" id="sponsorship_amt2"/>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="is_partial_allowed2">Is Partial Sponsorship Allowed? (Y/N)</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="is_partial_allowed2" id="is_partial_allowed2"/>
						</div>
					</div>
				</div>
			
			</div>
			
			<div class="row sponsor-tier-title"><div class="col-md-12 col-sm-12">Sponsorship Tier 3</div></div>
			<div class="row">
				
				<div class="col-md-6 col-sm-12">
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="sponsorship_type3">Sponsorship Type</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="sponsorship_type3" id="sponsorship_type3"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="sponsorship_amt3">Sponsorship Amount</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" placeholder="0.00" name="sponsorship_amt3" id="sponsorship_amt3"/>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="row form-group">
						<div class="col-md-4 col-sm-12">
							<label for="is_partial_allowed3">Is Partial Sponsorship Allowed? (Y/N)</label>
						</div>
						<div class="col-md-8 col-sm-12">
							<input type="text" class="form-control" name="is_partial_allowed3" id="is_partial_allowed3"/>
						</div>
					</div>
				</div>
			
			</div>
				
			<div class="row form-actions">
				<div class="col-md-6 col-sm-6" style="margin-bottom:3%">
        			<button class="form-control" style="background-color: limegreen" type="submit">Contact Organizer</button>
				</div>
				<div class="col-md-6 col-sm-6">
       				<button class="form-control col-md-6 col-sm-6" type="button">Cancel</button>
				</div>
    		</div><!--class="form-actions"-->
		</form>
	</div><!--id="page "class="container"-->
		
		
		
	<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pull-right">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email "/>
                                <button class="btn  bg-gray" type="button"> Subscribe Us! <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © EventAngels 2017. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
</body>
</html>