<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Home page | EventAngels</title>
<!-- <link rel="stylesheet" type="text/css" href="static/css/header.css"/>-->
<link rel="stylesheet" type="text/css" href="static/css/footer.css"/>
<link rel="stylesheet" type="text/css"
	href="static/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="static/bootstrap/css/bootstrap-theme.min.css" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<style>

.navbar{
margin-bottom: 0px;
}

body{

background-image: url("img/kyle.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#page {
	margin: auto;
	margin-top:2%;
}

.main {
	margin: auto;
	height: auto;
}

.main .mainContainer {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	float: left;
	padding: 2% 5% 2% 5%;
	color: white;
	margin-bottom: 2%;
}

.main .mainContainer .label1 {
	text-align: center;
	margin: 2%;
	padding: 5% 1% 5% 1%;
	color: white;
	font-size: 2em;
}

.main .mainContainer .text {
	font-style: italic;
	text-align: center;
	padding: 10% 1% 5% 1%;
}

.row .eventThumbnail {
	background-color: rgba(20, 20, 20, 0.8);
	margin: 2%;
	text-align: center;
	color: white;
}

#labelStatementLive{
background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding:1%;
	margin:2%;
	text-align: center;
}



@media(){
}

</style>
</head>
<body>

	<script type="text/javascript">
$(document).ready(function(){	
        $.ajax({
    		type : "GET",
    		contentType : "application/json",
    		url : "/displayEvents",
    		
    		
    		timeout : 100000,
    		success : function(data) {
    			console.log("SUCCESS: ", data);
    			container = $('#displayEventsOnLanding');
    			$.each(data,function(i,doc){
    			    
    				//<p><b> 5K for cancer awareness</b> <br/><br/> Venue: Houston, TX <br/>Date: March 11, 2017</p>
    				
    				//var elementForIndex = $("<p><b>"+
    										//doc.title + "</b> <br/><br/>"+doc.city+"<br/>"+doc.state+"</p>");
    				
    				 $('#displayEventsOnLanding').append(
        				'<div class="col-md-3 col-xs-6"><div class="eventThumbnail">'+
    					 '<p><b>'+doc.title + '</b><br/><br/>'+doc.city+'<br/>'+doc.state+'</p>'+
        				'</div></div>');
    				
    			    //var $element3 = $("<div><h1>" +
    		          //      doc.title + 
    		            //    "</h1><div>" +
    		              //  doc.venue +
    		                //"</div></div>");
    			    // Append the item to the container
    			    //container.append(elementForIndex);
    			});
    			
    		},
    		error : function(e) {
    			console.log("ERROR: ", e);
    			//display(e);
    		},
    		done : function(e) {
    			console.log("DONE");
    		}
    	});
});

</script>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/indexPage"> <img alt="Brand"
					style="height: 100%; width: auto;" class="img-responsive"
					src="img\eventangels.png" />
				</a>
			</div>
			<!--https://getbootstrap.com/components/#navbar-->
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/indexPage">Event Angels: Your next sponsor</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">About Us</a></li>
					<li><a href="#">How it works</a></li>
					<li><a href="/loginPage">Sign-in/Register</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="page" class="container">
		<div id="main" class="row main">
			<div id="organizer" class="mainContainer col-sm-3 col-md-5">
				<div class="label1">
					<a href="loginPage" style="color: white">I'm the organizer</a>
				</div>
				<div class="text">
					We help you find the <br /> right sponsor to fund <br /> your event
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div id="sponsor" class="mainContainer col-sm-3 col-md-5">
				<div class="label1">I'm the sponsor</div>
				<div class="text">
					We help you find the <br /> right event to connect <br /> with your
					customers
				</div>
			</div>
		</div>
		<div class="row" id="labelStatementLive">
			<div>
				<label>We made sponsorship possible at:</label>
			</div>
		</div>
		<div class="row" id="displayEventsOnLanding">
		</div>
	</div>


	<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pull-right">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email "/>
                                <button class="btn  bg-gray" type="button"> Subscribe Us! <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © EventAngels 2017. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
</body>
</html>